<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <a href="/new_package">Send a New Package</a>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Sender</th>
        <th>Recipient</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Location</th>
      </tr>
    </thead>
    {% for package in packages %}
    <tr>
      <td>{{package.id}}</td>
      <td>{{package.sender}}</td>
      <td>{{package.recipient}}</td>
      <td>{{package.origin}}</td>
      <td>{{package.destination}}</td>
      <td>{{package.location}}</td>
    </tr>
    {% endfor %}
  </table>
</body>

</html>


<!-- <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            <td>{{ row[1] }}</td>
            <td>{{row[2].strftime("%H:%M")}}</td>
            <td>{{row[3].strftime("%H:%M")}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table> -->